{% extends 'base.html' %}

{% block title %}
Edit task
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <div class="jumbotron">
        <div class="container">
            <h3>Update task "{{title}}".</h3>
            <form method="POST" action="/edit/{{id}}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" value="{{title}}" name="title" class="form-control" id="title" placeholder="Enter Title"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="3"
                        placeholder="Enter Description">{{description}}</textarea>
                </div>
                <div class = "due-Date">
                    <input type="date" id="date" class="taskDate" name="date">
                        <label for="dueDate">Due Date</label>
                </div>
                <div class="form-group form-check">
                    {% if status == True %}
                    <input type="checkbox" class="form-check-input" name="isComplete" id="is-complete" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="isComplete" id="is-complete">
                    {% endif %}
                    <label class="form-check-label" for="is-complete">Mark as completed</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
